h1 {
  font-size: 35px;
}

body {
  min-width: 600px;
  overflow-x: hidden;
  min-height: 300px;
}

.btn {
  margin-top: 5px;
}

#clicked{
  background:rgb(255, 251, 204);
}

#fontColor {
  margin-bottom: 5px;
}

.container{
  margin-top: 10px;
}

a {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  color: black;
  text-decoration: none; 
}

a:hover{
  text-decoration: none; 
}